language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.7
  - 2.2.3
  - ruby-head
  - jruby-19mode
  - jruby-9.0.1.0
  - rbx-2
before_install:
  - gem install bundler
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: rbx-2
    - rvm: jruby-9.0.1.0
  fast_finish: true
script:
  - bundle exec rake
